<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css"></style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
                 <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:1.2; color:#000000; ">
                                <p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:1.2; color:#000000; ">Hi Justin,</p>
                                <p>You requested that your password be reset.</p>
                                <p>Your username is MAILER. Click on the link below or paste it in your browser to reset your password:&nbsp;</p>
                                <p>https://primarymarket.worldsecuresystems.com/_System/SystemPages/PasswordReset?Token=3463aa5dba5d4d9987c0a4e1d1813e55
                                    <br> </p>
                                <p>If this request did not come from you, please disregard this email.</p>
                                <p>Thank you.</p>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="https://www.primarymarkets.com/?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank"><img src="https://www.primarymarkets.com/images/PrimaryMarkets_SquareLogo_W.jpg" style="margin-right: 15px;" border="0"> </a>
                                            </td>
                                            <td valign="middle">
                                                <p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:1.2; color:#000000;">The PrimaryMarkets Team
                                                    <br> Tel: &#43;61 2 9993 4475
                                                    <br> Email: <a href="mailto:info@primarymarkets.com">info@primarymarkets.com</a> </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); text-align: center;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table style="height:30px;" border="0" cellpadding="0" cellspacing="0" height="30">
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color:#EFC519; color:#FFFFFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="center" valign="middle" width="180"><strong><a href="https://www.primarymarkets.com/assets/securities?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank" style="text-decoration: none; color: rgb(255, 255, 255);">SECURITIES</a></strong>                                                                </td>
                                                            <td align="center" valign="middle" width="5">&nbsp;</td>
                                                            <td style="background-color:#E67E25; color:#FFFFFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; " align="center" valign="middle" width="180"><strong><a href="https://www.primarymarkets.com/assets/funds?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank" style="text-decoration: none; color: rgb(255, 255, 255);">FUNDS</a></strong>                                                                </td>
                                                            <td align="center" valign="middle" width="5">&nbsp;</td>
                                                            <td style="background-color:#23AF5E; color:#FFFFFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; " align="center" valign="middle" width="180"><strong><a href="https://www.primarymarkets.com/assets/fixed-income?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank" style="text-decoration: none; color: rgb(255, 255, 255);">FIXED INCOME</a></strong>                                                                </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="35" valign="bottom">
                                                <table style="height:30px;" border="0" cellpadding="0" cellspacing="0" height="30">
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color:#3697D3; color:#FFFFFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="center" valign="middle" width="180"><strong><a href="https://www.primarymarkets.com/assets/commercial?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank" style="text-decoration: none; color: rgb(255, 255, 255);">COMMERCIAL</a></strong>                                                                </td>
                                                            <td align="center" valign="middle" width="5">&nbsp;</td>
                                                            <td style="background-color:#965BA5; color:#FFFFFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; " align="center" valign="middle" width="180"><strong><a href="https://www.primarymarkets.com/assets/direct-assets?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank" style="text-decoration: none; color: rgb(255, 255, 255);">DIRECT ASSETS</a></strong>                                                                </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#000; font-size:13px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;" align="center" valign="middle">
                                                <p>Level 12, 179 Elizabeth Street,
                                                    <br>Sydney NSW 2000 Australia&nbsp;</p>
                                                <p> Tel: &#43;61 2 9993 4475
                                                    <br> <a href="https://www.primarymarkets.com/?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank">www.primarymarkets.com</a> </p>
                                                <p>2015-2017 © PrimaryMarkets Limited. <a href="https://www.primarymarkets.com/legal?utm_source=autoreply&amp;utm_medium=email&amp;utm_campaign=autoreply" target="_blank">Disclaimer</a>. All Rights Reserved.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="40" valign="middle">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="middle">
                                                                <a href="https://www.facebook.com/PrimaryMarkets" target="_blank"><img src="https://www.primarymarkets.com/images/newsletter/img-fb.jpg" border="0"> </a>
                                                            </td>
                                                            <td>&nbsp;</td>
                                                            <td valign="middle">
                                                                <a href="https://twitter.com/Primary_Markets" target="_blank"><img src="https://www.primarymarkets.com/images/newsletter/img-twitter.jpg" border="0">                                                                    </a>
                                                            </td>
                                                            <td>&nbsp;</td>
                                                            <td valign="middle">
                                                                <a href="https://www.linkedin.com/company/primarymarkets" target="_blank"><img src="https://www.primarymarkets.com/images/newsletter/img-linkedin.jpg" border="0">                                                                    </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table></body></html><br><p>Message  protected by MailGuard: e-mail anti-virus, anti-spam and content filtering.<br><a href="http://www.mailguard.com.au">http://www.mailguard.com.au</a></p>
    <!-- MailGuard Message ID: 5b879c5bd971e6 - use this number for reporting -->
    &nbsp;<br>&nbsp;<br>
  </center>
</body>
</html>