<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body><base href="https://www.primarymarkets.com/">
<p style="font:10pt arial;">Hi Justin (Mailer),</p>
<p style="font:10pt arial;">You requested that your password be reset.</p>
<p style="font:10pt arial;">Your username is '{{ form.model.properties.email }}'. Click on the link below or paste it in your browser to reset your password:&nbsp;</p>
<p style="font:10pt arial;">https://primarymarket.worldsecuresystems.com/_System/SystemPages/PasswordReset?Token=72b33d7b610c4a62929eae1db02cf8e7 </p>
<p style="font:10pt arial;">If this request did not come from you, please disregard this email.</p>
<p style="font:10pt arial;">Thank you.</p>
<p style="font:10pt arial;"> PrimaryMarkets Team </p>
<p style="font:10pt arial;"><strong style="font-family: Arial; font-size: 11px;">PrimaryMarkets Limited</strong> </p>
<p style="font-family: Arial; font-size: 11px;"><strong><span><a href="https://www.primarymarkets.com/"><img alt="PrimaryMarkets Logo" src="https://www.primarymarkets.com/images/newsletter/PrimaryMarkets_Signature.jpg" title="PrimaryMarkets Logo" border="0"></a></span></strong>
    <br><span><strong>D:</strong> +61 2 9993 4475 | <strong>F:</strong> +61 2 9993 4433 |</span>
    <br><span><strong>W:</strong></span> <a href="https://www.primarymarkets.com/"><span>www.primarymarkets.com</span></a> <span>| Corporate Authorised Representative: AFSL 334 838</span>
    <br><span>A: Level 12, 179 Elizabeth Street Sydney NSW 2000 Australia</span>
    <br><span><strong>P: </strong>PO Box A298 Sydney South NSW 1235</span> </p>
<p style="font-family: Arial; font-size: 11px;"><span style="font-size: 11px;">Connect with us on: </span><a href="https://www.facebook.com/PrimaryMarkets" style="font-size: 11px;">Facebook</a>
    <span style="font-size: 11px;"> | </span><a href="https://twitter.com/Primary_Markets" style="font-size: 11px;">Twitter</a><span style="font-size: 11px;"> | </span> <a href="https://www.instagram.com/primarymarkets/" style="font-size: 11px;">Instagram</a><span style="font-size: 11px;"> | </span><a href="https://www.linkedin.com/company/primarymarkets" style="font-size: 11px;">Linkedin</a>        </p>
<p style="font-family: Arial; font-size: 10px;"><span><span style="font-size: 9px;">This email and any attachment(s) are intended only for the exclusive and confidential use of the addressee(s). If you are not the intended recipient, any use, interference with, disclosure or copying of this material is unauthorised and strictly prohibited. If you have received this message in error, please notify the sender by return email immediately and delete the message from your computer without making any copies.</span>
    <br>
    <br> <img src="https://www.primarymarkets.com/images/ss-environment.jpg" style="font-size: 9px;" width="15" height="15"><span style="font-size: 9px;"> </span>    <strong style="font-size: 9px;"><strong><em><span>Please consider the environment before printing this e-mail.</span></em></strong></strong>
    </span>
</p></body></html><br><p>Message  protected by MailGuard: e-mail anti-virus, anti-spam and content filtering.<br><a href="http://www.mailguard.com.au">http://www.mailguard.com.au</a></p>
<!-- MailGuard Message ID: 5ba49250da1adc - use this number for reporting -->
&nbsp;<br>&nbsp;<br>