---
slug: contacts
---

{%- query_graph 'get_contact_requests', result_name: 'g' -%}

<ul>
  {% for user in g.customizations.results %}
    <li>{{ user.name }}, {{ user.email }}, {{ user.description }}</li>
  {% endfor %}
</ul>

{% include_form 'contact_form', parent_resource_id: 'contact_request' %}