---
slug: recover-password
---
{% comment %}
<h2>Forgotten Password</h2>
{% if flash.notice != blank %}
  <p>{{ flash.notice }}</p>
{% endif %}
{% endcomment %}

{% comment %}{% include_form 'recover_password', parent_resource_id: 'reset_password' %}{% endcomment %}

{% include_form 'recover_password', parent_resource_id: 'contact_request' %}

{% content_for 'meta_title' %}Password Reset{% endcontent_for %}
{% content_for 'meta_desc' %}Password Reset Page for Primary Markets.{% endcontent_for %}
{% content_for 'project_name' %}Primary Markets{% endcontent_for %}