---
slug: recover-password-24082018
---
<h2>Forgotten Password</h2>
{% if flash.notice != blank %}
  <p>{{ flash.notice }}</p>
{% endif %}

{% include_form 'recover_password_24082018', parent_resource_id: 'reset_password' %}