---
slug: reset_password
format: html
layout_name: application
---

{% comment %} 
{% render_form reset_password %}
{% endcomment %}

<p>Forgot password? <a href="/recover-password">Recover password</a></p>
<p>New user? Create <a href="/developer/sign-up"> new developer account</a> or <a href="/client/client_sign_up">new client account</a></p>

<!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>              
        <body id="body">          
            <div id="offering-left-panel">
                <div class="offering-left-group" style = "width:1000px;margin-top:-550px; margin-left:-135px;float:left;">
                    <form name="catseczoneform41723" onsubmit="return checkWholeForm41723(this)" method="post" action="https://www.primarymarkets.com/ZoneProcess.aspx?ZoneID=6947&amp;Referrer=https%3a%2f%2fwww.primarymarkets.com&amp;OID=16326818&amp;OTYPE=1">
                                                
                    <div class="system-message">                        
                        <h1>Password Reset</h1>
                        <p>Forgotten or lost your password? Enter your email address or username below and we'll send you instructions on how to reset it.</p>
                        <form action="https://primarymarket.worldsecuresystems.com/LostPasswordProcess.aspx" method="post" name="catseczonelpform">
                            <div class="form">
                                <div class="item">
                                    <label for="SZUsername">Email Address / Username</label>
                                    <br />
                                    <input type="text" maxlength="255" id="SZUsername" name="Username" class="cat_textbox_small"> 
                                </div>
                                <div class="item">
                                    <input type="submit" value="Retrieve" class="cat_button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    </html>
                    