---
name: login
resource: Customization
resource_owner: anyone
configuration: 
callback_actions: |-
  "{% execute_query 'log', message: 'Validating Login Details' %}"
---
{% comment %}
    Obtain the Login details from the User. Once the User submits the form, we then pass control over to the User Authentication process. This process will be used to 
    determine whether or not they have entered valid credentials, matching our Contact records in Salesforce. 
{% endcomment %}

{% comment %}
  callback_actions: "{% execute_query 'user_session_create', email: @form.email, password: @form.password %}"
  callback_actions: "{% execute_query 'persist_user_details', email: @form.email, password: @form.password %}"
{% endcomment %}

<form onsubmit="return DefaultPage();" method="POST">
    <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
        <body id="body" onload="Init();">          
            <div id="offering-left-panel">
                <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;">  
                  <h1>Member Login</h1>
                  <div class="form">
                      <div class="item">
                          <label for="userEmail">Email Address</label>
                          <br />
                          <div style="display:block;width:1500px;">
                            <input name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value }}" id="userEmail" type="email" style="width:450px;height:35px;">
                            <strong><label id="emailError" style="font-weight:700;color:red;"></label></strong>
                            <div class="half last">
                              <p style="color:#333333;font-weight:400">Not a member yet? </p>
                              <p><a href="/member"><span class="cat_button" style="float:none; display:inline-block; ">Register Here</span></a></p>
                            </div>
                          </div>  
                      </div>    
                      <div class="item" style="color:#333333;">
                          <label for="userPassword">Password</label>
                          <br />
                          <div style="display:block;width:800px;">
                            <input name="{{ form_builder.fields.password.name }}" id="userPassword" type="password" style="width:450px;height:35px;">
                            <strong><label id="passwordError" style="font-weight:700;color:red;"></label></strong>
                          </div>  
                      </div>                            
                      <div class="item" style="color:#333333;">
                          <input name="RememberMe" id="RememberMe" type="checkbox" checked="checked">
                          <label for="RememberMe">Remember Me</label>
                      </div>
                      <div class="item">
                          <input class="cat_button" value="Log in" type="submit">&nbsp;<a href="/recover-password" style="color:#3697d3;font-weight:500;">Forgot your password? Click here to reset now.</a> </div>
                      <p>&nbsp;</p>
                  </div>
                </div>
            </div>    
        </body>    
      </html> 
</form>

<script>
    function Init() {
      console.log("Init triggered");
      localStorage.clear();
      localStorage.setItem("prevEmailError", 0);
      localStorage.setItem("prevPasswordError", 0);
      localStorage.setItem("errors", 0);
      localStorage.setItem("errorMessage", "");
      localStorage.setItem("Name", "");
      localStorage.setItem("Authenticated" , 0);
      var Name = "";
    }  

    function DefaultPage() {
      console.log("Default Page");        

      var emailError = false;
      var passwordError = false;
      var errorMessage = "";
      var errors = false;
      var displayData = '';
      var errorFullHTML = '<strong style="font-weight:700!important;">';
      var passwordFullHTML = '<strong style="font-weight:700!important;">';

      if (localStorage.getItem("prevEmailError") == 0 && (document.getElementById('userEmail').value === null || document.getElementById('userEmail').value == '')) {  
        localStorage.setItem("errors", 1);    
        localStorage.setItem("prevEmailError", 1); 
      }

      if (document.getElementById('userEmail').value === null || document.getElementById('userEmail').value == '') {
        errors = true;
        emailError = true;
        errorMessage = "- The Email Address cannot be left blank\n";
        errorFullHTML += 'The Email Address cannot be left blank</strong>';         
      }
      else {      
        errorFullHTML += '</strong>';      
      }
      displayData = document.getElementById('emailError').innerHTML = errorFullHTML;

      if (localStorage.getItem("prevPasswordError") == 0 && (document.getElementById('userPassword').value === null || document.getElementById('userPassword').value == '')) {
        localStorage.setItem("errors", 1);
        localStorage.setItem("prevPasswordError", 1);
      }

      if (document.getElementById('userPassword').value === null || document.getElementById('userPassword').value == '') {
        errors = true;
        passwordError = true;
        errorMessage += "- The Password cannot be left blank\n";
        passwordFullHTML += 'The Password cannot be left blank</strong>';      
      }
      else {
        passwordFullHTML += '</strong>';           
      }
      displayData = document.getElementById('passwordError').innerHTML = passwordFullHTML;
     
      if (errors == true) {
        alert(errorMessage);
      }
      else {  
        //localStorage.setItem("firstName", firstName); // Will be returned by Salesforce
        localStorage.setItem("email", document.getElementById('userEmail').value);
        localStorage.setItem("password", document.getElementById('userPassword').value);
        localStorage.setItem("", document.getElementById('userPassword').value);
        localStorage.setItem("validateEmailOnly", 0);
        //window.open('https://playpen2.staging-sydney.near-me.com/salesforce?e=' + localStorage.getItem("email") + '&p=' + localStorage.getItem("password"), '_self'); 
        //window.open('https://playpen2.staging-sydney.near-me.com/salesforce', '_self');
        window.open('https://playpen2.staging-sydney.near-me.com/user_authentication/?email=' + localStorage.getItem("email"), '_self'); 
      } 

      return false; 
    }  
  </script>