---
name: password_retrieve_confirmation
resource: Session   
---
{% form %}
    <script>
        //window.open('https://playpen2.staging-sydney.near-me.com/user_authentication', '_self');
        localStorage.setItem("Authenticated", 0); 
    </script> 

    <form>
        <!DOCTYPE html amp>
        <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
            <body id="body">          
                <div id="offering-left-panel">
                    <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;width:1000px;">
                        <div class="system-message">
                            <h1>Password Retrieve Confirmation</h1>
                            <p>
                                Instructions on how to reset your password have been emailed to you.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </body>
        </html>
    </form>          
{% endform %}
