---
name: password_reset
resource: Customization
resource_owner: anyone
configuration: 
callback_actions: |-
  "{% execute_query 'log', message: 'Password Reset Processing' %}"  
---
{% execute_query 'log', message: 'Password Reset Processing' %}
{% execute_query 'log', message: context.params.token %}

<form onsubmit="return ValidatePage();" method="POST">
   <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
      <body id="body">    
        <div id="offering-left-panel">
          <div class="offering-left-group" style = "margin-top:-570px; margin-left:-150px;float:left;width:1000px;">
            <div id="content-wrapper">
                <div id="content">    
                    <h1>Password Reset</h1>
                    <p id="invalidPasswordMessage" class="error true" style="display:none">ERROR: Please enter a new Password and then re-enter to confirm</p>
                    <p>Please fill in your new password in the form below:</p>
                    <form method="post" name="catseczonerpform" onsubmit="return checkWholeForm(this)">
                        <div class="form">
                            <div class="item">
                                <label>New Password</label><br />
                                <input class="textbox" type="password" maxlength="255" value="" autocomplete="off" name="RPPassword" id="NewPassword" />
                            </div>
                            <div class="item">
                                <label>Confirm New Password</label><br />
                                <input class="textbox" type="password" maxlength="255" value="" autocomplete="off" name="RPPasswordConfirm" id="NewPasswordConfirm" />
                            </div>
                            <div class="item">                                                                
                                <input class="cat_button" value="Submit" type="submit">&nbsp;<a href="/recover-password" style="color:#3697d3;font-weight:500;"></a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>  
        </div>
      </body>
    </html>     
</form>

<script>
    function ValidatePage() {
        var errorText = "";
        var errorType = "";

        if (document.getElementById("NewPassword").value === null || document.getElementById("NewPassword").value == '') {
            errorText += "- Please enter a new Password and then re-enter to confirm\n";
            errorType = "Blank";
        }

        if (document.getElementById("NewPassword").value != document.getElementById("NewPasswordConfirm").value) {
            errorText += "- The password and its confirmation don't match\n";
            errorType = "NoMatch";
        }        

        if (errorType === null || errorType == "") {
            // **********************************************************************************************************
            // * Update new password in Salesforce, and inform the User that the password has been changed successfully *
            // **********************************************************************************************************

            localStorage.setItem("newPassword", document.getElementById("NewPassword").value);
            localStorage.setItem("passwordToken",  '{{ context.params.token}}');
            window.open('https://playpen2.staging-sydney.near-me.com/password-reset-proc', '_self');
        }
        else {    
            alert(errorText);
            var passwordError = document.getElementById("invalidPasswordMessage");

            if (errorType == "Blank") {
                passwordError.innerHTML = "ERROR: Please enter a new Password and then re-enter to confirm";
            }
            else {
                passwordError.innerHTML = "ERROR: The password and its confirmation don't match";
            }

            passwordError.style.display = "block";
        }

        //theForm.submit(); 
        return false;
    }
</script>