---
name: recover_password_24082018
resource: Customization
resource_owner: anyone
flash_notice: If you provided the right email, we will send you reset password instructions.
configuration:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% log context.headers %}
  {% assign emailAddress = form.properties.email %}
  {% log form.properties.email %}  

    {% query_graph 'generate_user_temporary_token', email: "jf@primarymarkets.com", result_name: 'g' %}
    {% if g.user %}
      {% execute_query 'update_password_token', id: g.user.id, token: form.properties.email %}
    {% endif %} 
---
{% form %}
 {% query_graph 'generate_user_temporary_token', email: form.properties.email, result_name: 'g' %} 
  <label for="email">Email</label>
  <input name="{{ form_builder.fields.properties.email.name }}" id="email" type="email"> 

  <button>Recover password</button> 

  {% comment %}
  callback_actions: |-
  {% log context.headers %}
  {% query_graph 'generate_user_temporary_token', email: "jf@primarymarkets.com", result_name: 'g' %}
  {% if g.user %}
    {% execute_query 'update_password_token', id: g.user.id, token: g.user.temporary_token %}
  {% endif %}

 {% capture data_string %}
        {
                "emailAddress": "{{ emailAddress }}"
        }
  {% endcapture %}

  {% assign data = data_string | to_hash %}
  {% execute_query 'log', message: data %}
  {% execute_query 'send_recover_email', data: data, result_name: 'email_response' %}
  {% endcomment %}
{% endform %}
