---
name: thank_you_membership
resource: Customization
resource_owner: anyone
configuration: 
---

{% comment %}
    This page is used to display a Thank you message to the User, after completing the Registration Page
{% endcomment %}        

<form>
    <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
        <body id="body">          
            <div id="offering-left-panel">
                <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;width:1000px;">
                <h1>Please check your email for login details. Welcome to PrimaryMarkets.</h1>
            </div>
        </body>
    </html>
</form>                                