---
name: thank_you_follower
resource: Customization
resource_owner: anyone
configuration: 
---

{% comment %}
    This page is used to display a welcome message to the User
{% endcomment %}

<form>
    <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
        <body id="body">          
            <div id="offering-left-panel">
                <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;width:1000px;"> 
                    <h1 style="text-align: justify;">Thanks for your interest to become a Follower!</h1>
                    <p>We look forward to providing market leading updates on matters of particular interest in Unlisted Securities and Investments. We hope to provide
                        excellent insights for our Sophisticated, Professional Buyer networks.</p>
                    <p>For enquiries or if you would like a Member introductory session, please <a href="/contact-us" style="color:#3697d3;">Contact Us</a>. </p>
                </div>
            </div>
        </body>
     </html>           
</form>     