---
name: zone_process
resource: Customization
resource_owner: anyone
configuration: 
---
<form>
    <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>      
        <body id="body">          
            <div id="offering-left-panel">
                <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;width:1000px;">  
                    <div class="system-error-message">
                        <h1>Secure Zone Access Denied</h1>
                        <p>You could not be logged in to this Secure Zone as either your Username and/or Password was incorrect. Please contact us to request access.</p>
                        <p><a href="/" style="color:#1969bc;">Click here</a> to go back to our Home Page.</p>
                        <p><a href="/login" style="color:#1969bc;">Go Back</a></p>
                    </div>
                </div>
             </div>
        </body>
    </html>
</form>                