---
name: welcome_user
to: 'jfreshfield@bigond.com'
delay: 0
enabled: true
trigger_condition: true
from: info@PrimaryMarkets.com
reply_to:
cc:
bcc:
subject: 'Welcome {{ form.first_name }} in our marketplace!'
layout_path: mailer
---
<h1>Hi {{ form.first_name }}!</h1>

<p>Welcome in our marketplace!</p>
{% comment %} to: '{{ form.email }}' {% endcomment %}